@{
    @model IEnumerable<Mitra.Models.Order>
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@{
    ViewData["Title"] = "My Orders";
}

<h1>My Orders</h1>

@if (!Model.Any())
{
    <p>You have no orders yet.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.Order_Date.ToString("g")</td>
                    <td>$@order.TotalAmount</td>
                    <td>@order.Status</td>
                    <td>
                        <a asp-action="Details" asp-route-orderId="@order.OrderId" class="btn btn-info">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
